@font-face {
    font-family: 'Kopub Batang';
    src: url("../font/KoPubWorld Batang_Pro Medium.otf") format('opentype'),
		 url("../font/KoPubWorld Batang Medium.ttf") format('truetype'),
		 url("../font/KoPubWorld Batang-Medium.woff") format('woff');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '국립박물관문화재단';
    src: url("../font/국립박물관문화재단클래식L.otf") format('opentype'),
		 url("../font/국립박물관문화재단클래식L.ttf") format('truetype');
	font-weight: normal;
    font-style: normal;
}
#screen3{
	display:none;
	background-color:#000;
    font-family: '국립박물관문화재단';
	font-size:20px;
    justify-content: center;
	align-items:center;
	text-align:center;
	animation: fadeIn 1s ease-out;
}
#kopubnotice{
    font-family: 'Kopub Batang';
}
#hint-text{
    font-family: '국립박물관문화재단';
}
.secret{
	background-image: url("../image/easter.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	user-select : none;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    aspect-ratio: 1/1;
}
#password-inputBox{
	display:none;
	animation: fadeIn 1s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text-container span {
    opacity: 0;
    transform: translateY(20px);
    animation: reveal 1s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#password-container {
	display:none;
    text-align: center;
    background-color: transparent;
    padding: 20px;
	border:none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#easter-text{
	display:none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.nav-btn {
	width:20%;
    aspect-ratio: 421 / 187;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
	opacity:0.8;
    transition: opacity 0.5s ease-out;
    margin: 0 20px;
}

#btn1st{
	background-image: url("../image/member-image/1학년 미클릭.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}
#btn1st:hover{
	background-image: url("../image/member-image/1학년 클릭.webp");
	opacity:1;
    background-size: 100%;
    background-repeat: no-repeat;
}
#btn4th{
	background-image: url("../image/member-image/4학년 미클릭.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}
#btn4th:hover{
	background-image: url("../image/member-image/4학년 클릭.webp");
	opacity:1;
    background-size: 100%;
    background-repeat: no-repeat;
}
#btn7th{
	background-image: url("../image/member-image/7학년 미클릭.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}
#btn7th:hover{
	background-image: url("../image/member-image/7학년 클릭.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}
#btnA{
	background-image: url("../image/member-image/성인 미해금.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav-btn.disabled {
    background-color: transparent;
    color: white;
}

.profile {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    display: block;
}

.grade {
    display: block;
}

.dorm1, .dorm4, .dorm7{
	display:flex;
    flex-direction: row;
    justify-content: center;
	align-items:center;
	margin: 2%;
}
.dorm1 div, .dorm4 div, .dorm7 div{
	opacity:0;
    transform: translateY(-100px);
    transition: opacity 0.5s, transform 0.5s;
}
.dorm1 img, .dorm4 img, .dorm7 img{
	width:80%;
}
#drom-icon{
	width:90%;
    aspect-ratio: 438 / 485;
	display:flex;
	justify-content: center;
	align-items:center;
}

@media (max-width: 991px){
	#memberPage{
		margin-bottom:10%;
	}
	#easter-text{
		display:none;
	}
	.nav-btn{
		width:30%;
		margin: 0 2%;
	}
	.grade {
		display: block;
	}
	
	.dorm1, .dorm4, .dorm7{
		display:flex;
		flex-direction: row;
		justify-content: center;
		align-items:center;
		margin: 2%;
	}
	.dorm1 div, .dorm4 div, .dorm7 div{
		opacity:0;
		transform: translateY(-100px);
		transition: opacity 0.5s, transform 0.5s;
	}
	.dorm1 img, .dorm4 img, .dorm7 img{
		width:90%;
	}
	#drom-icon{
		width:100%;
		aspect-ratio: 438 / 485;
		display:flex;
		justify-content: center;
		align-items:center;
		
	}
}